---
import LongformPageLayout from '../layouts/LongformPageLayout.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<LongformPageLayout title={title} description={`${title} is currently hidden.`}>
  <p>This section is currently hidden.</p>
  <p><a href="/">Back home</a></p>
</LongformPageLayout>
